In [111]:
import numpy as np
import pandas as pd
import re

In [112]:
df = pd.DataFrame(
    [
        [['412023','413023','416023','425223']],
        [['312023','313023','316023','324023']],
        [['512023','513023','516023','524023']]
    ]
)

df

                                  0
0  [412023, 413023, 416023, 425223]
1  [312023, 313023, 316023, 324023]
2  [512023, 513023, 516023, 524023]

In [113]:
list = []

In [114]:
for row in df.itertuples(index=False):
    list += row[0]

list = sorted(list)

In [115]:
print(list)

['312023', '313023', '316023', '324023', '412023', '413023', '416023', '425223', '512023', '513023', '516023', '524023']

In [116]:
df2 = pd.DataFrame(list, columns=['TEST'])
df2

      TEST
0   312023
1   313023
2   316023
3   324023
4   412023
5   413023
6   416023
7   425223
8   512023
9   513023
10  516023
11  524023

In [122]:
# 抽出
Icont31 = df2.query('TEST.str.match("31")', engine='python')
Icont32 = df2.query('TEST.str.match("32")', engine='python')
Icont41 = df2.query('TEST.str.match("41")', engine='python')
Icont42 = df2.query('TEST.str.match("42")', engine='python')
Icont51 = df2.query('TEST.str.match("51")', engine='python')
Icont52 = df2.query('TEST.str.match("52")', engine='python')

print('Icont31 = ' + str(Icont31['TEST'].tolist()))
print('Icont32 = ' + str(Icont32['TEST'].tolist()))
print('Icont41 = ' + str(Icont41['TEST'].tolist()))
print('Icont42 = ' + str(Icont42['TEST'].tolist()))
print('Icont51 = ' + str(Icont51['TEST'].tolist()))
print('Icont52 = ' + str(Icont52['TEST'].tolist()))

Icont31 = ['312023', '313023', '316023']
Icont32 = ['324023']
Icont41 = ['412023', '413023', '416023']
Icont42 = ['425223']
Icont51 = ['512023', '513023', '516023']
Icont52 = ['524023']