In [26]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import re

In [27]:
df = pd.DataFrame(
    [
        [['412023','413023','416023','425223']],
        [['312023','313023','316023','324023']],
        [['512023','513023','516023','524023']]
    ]
)

df

                                  0
0  [412023, 413023, 416023, 425223]
1  [312023, 313023, 316023, 324023]
2  [512023, 513023, 516023, 524023]

In [28]:
list = []

In [29]:
for row in df.itertuples(index=False):
    list += row[0]

list = sorted(list)

In [30]:
print(list)

['312023', '313023', '316023', '324023', '412023', '413023', '416023', '425223', '512023', '513023', '516023', '524023']

In [31]:
df2 = pd.DataFrame(list, columns=['TEST'])
df2

      TEST
0   312023
1   313023
2   316023
3   324023
4   412023
5   413023
6   416023
7   425223
8   512023
9   513023
10  516023
11  524023

In [32]:
# 抽出
Icont31 = df2.query('TEST.str.match("31")', engine='python')
Icont32 = df2.query('TEST.str.match("32")', engine='python')
Icont41 = df2.query('TEST.str.match("41")', engine='python')
Icont42 = df2.query('TEST.str.match("42")', engine='python')
Icont51 = df2.query('TEST.str.match("51")', engine='python')
Icont52 = df2.query('TEST.str.match("52")', engine='python')

print('Icont31 = ' + str(Icont31['TEST'].tolist()))
print('Icont32 = ' + str(Icont32['TEST'].tolist()))
print('Icont41 = ' + str(Icont41['TEST'].tolist()))
print('Icont42 = ' + str(Icont42['TEST'].tolist()))
print('Icont51 = ' + str(Icont51['TEST'].tolist()))
print('Icont52 = ' + str(Icont52['TEST'].tolist()))

Icont31 = ['312023', '313023', '316023']
Icont32 = ['324023']
Icont41 = ['412023', '413023', '416023']
Icont42 = ['425223']
Icont51 = ['512023', '513023', '516023']
Icont52 = ['524023']

# サンプル

In [33]:
# 日付のリスト生成()
date_list = [datetime(2020, 1, 25) + timedelta(days=i) for i in range(12)]
# 文字列に変換
date_str_list = [d.strftime("%Y-%m-%d") for d in date_list]
print(date_str_list)

['2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05']

In [34]:
data_a = [n for n in range(1,13)]
data_b = [n for n in range(2,14)]
data_c = [n for n in range(3,15)]
print(data_a)
print(data_b)
print(data_c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [35]:
df = pd.DataFrame(
    {
        "datetime": date_str_list,
        "a": data_a,
        "b": data_b,
        "c": data_c,
    }
)
df['datetime'] = pd.to_datetime(df['datetime'])

df = df.set_index('datetime')

df_all = pd.DataFrame()

for col in ['a','b','c']:

    df2 = df[[col]]

    df2.loc[:,['shift']] = df2[col].shift(-1)

    df2['diff'] = df2['shift'] - df2[col]

    df2 = df2.drop([col, 'shift'], axis=1)

    df2.resample('M').sum()

    df2.rename({'diff': col}, axis='columns', inplace=True)

    df_all = pd.concat([df_all, df2], axis=1)

print(df_all)

              a    b    c
datetime
2020-01-25  1.0  1.0  1.0
2020-01-26  1.0  1.0  1.0
2020-01-27  1.0  1.0  1.0
2020-01-28  1.0  1.0  1.0
2020-01-29  1.0  1.0  1.0
2020-01-30  1.0  1.0  1.0
2020-01-31  1.0  1.0  1.0
2020-02-01  1.0  1.0  1.0
2020-02-02  1.0  1.0  1.0
2020-02-03  1.0  1.0  1.0
2020-02-04  1.0  1.0  1.0
2020-02-05  NaN  NaN  NaN