In [266]:
import pandas as pd

In [267]:
counter_reset = 999

In [268]:
df = pd.read_excel('data.xlsx', sheet_name='Sheet1')
df.set_index('datetime', inplace=True)

In [269]:
df['欠損'] = pd.notna(df['value'])
df['value2'] = df['value'].fillna(0)
df['value2'] = df['value2'].astype('int')
df['差分直前'] = df['value2'].diff(1)
df['差分直後'] = df['value2'].diff(-1)

df.to_excel('result.xlsx', sheet_name='結果')

## ぱだーん２

In [270]:
df2 = df.loc[:,'value'].to_frame()

# 欠損値
# 線形補間
df2 = df2.interpolate().astype('int')

# 異常値

df2

                     value
datetime
2022-01-01 00:00:00    990
2022-01-01 00:01:00    991
2022-01-01 00:02:00    992
2022-01-01 00:03:00    993
2022-01-01 00:04:00    994
2022-01-01 00:05:00      0
2022-01-01 00:06:00    996
2022-01-01 00:07:00    997
2022-01-01 00:08:00    998
2022-01-01 00:09:00    999
2022-01-01 00:10:00      0
2022-01-01 00:11:00      1
2022-01-01 00:12:00      2
2022-01-01 00:13:00    100
2022-01-01 00:14:00      4
2022-01-01 00:15:00      5
2022-01-01 00:16:00     50
2022-01-01 00:17:00     51
2022-01-01 00:18:00      8
2022-01-01 00:19:00      9
2022-01-01 00:20:00     40
2022-01-01 00:21:00     39
2022-01-01 00:22:00     12
2022-01-01 00:23:00     13
2022-01-01 00:24:00     50
2022-01-01 00:25:00      0
2022-01-01 00:26:00     16
2022-01-01 00:27:00     17
2022-01-01 00:28:00     40
2022-01-01 00:29:00      0
2022-01-01 00:30:00     20
2022-01-01 00:31:00     21
2022-01-01 00:32:00      0
2022-01-01 00:33:00     50
2022-01-01 00:34:00     24
2022-01-01 00:35:00     25
2022-01-01 00:36:00      0
2022-01-01 00:37:00     40
2022-01-01 00:38:00     28
2022-01-01 00:39:00     29
2022-01-01 00:40:00      0
2022-01-01 00:41:00      0
2022-01-01 00:42:00     32
2022-01-01 00:43:00     33
2022-01-01 00:44:00     50
2022-01-01 00:45:00     50
2022-01-01 00:46:00     36
2022-01-01 00:47:00     37
2022-01-01 00:48:00      0
2022-01-01 00:49:00     39
2022-01-01 00:50:00     -1
2022-01-01 00:51:00     41